@mixin myMix($width) {
  display: flex;
  margin: 0.5rem auto 0.5rem auto;
  width: $width;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  display: block;
}

@function addBorder($isBorderTop) {
  $isBorderTop: 1px dotted black;
}

.heading-container {
  width: 25%;
  background-color: rgba($color: #5fcf99, $alpha: 1);
  width: 25%;
  margin: 1rem auto 1rem auto;
  border-radius: 6px;
}
.hide {
  display: none;
}
.register {
  input {
    @include myMix(12rem);
  }
  select {
    @include myMix(12.5rem);
  }
}

.delivers {
  margin: auto;
  width: 20%;
  display: flex;

  span {
    text-align: center;
    margin-left: 2rem;
  }
}
.add--border {
  margin: auto;
  width: 20%;
  border-top: 2px dotted gray;
  border-bottom: 2px dotted gray;
}
